.banner {
    min-height: 400px;
}

.cur {
    height: 500px !important;
    margin-top: 40px;
    img {
        height: 500px !important;
        border-radius: 5px;
        border-color: transparent;
    }
}

.card-img-top {
    width: auto;
    height: 200px;
}